article {
  &.actor {
    &.top-home {
      @extend %card-extend;
    }

    &.full {
      @extend %node-layout-extend;
      .bottom {
        .field--name-field-images {
          .field--item {
            background-color: #eee;
            margin: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            img {
              max-width: 100%;
              height: auto;
              border-radius: 0.5rem;
            }
          }
        }
        .field--name-field-images, .field--name-field-movies {
          > .field--items {
            display: flex;
            flex-wrap: wrap;
            .field--item {
              flex-basis:33%;
              max-width: 200px;
              h2 {
                font-size:1.2rem;
              }
            }
          }
        }
      }
    }
  }
}  