img {
  max-width:100%;
  height: auto;
  border-radius: 0.5rem;
}

// Variables and include implementation.
$profiles: (
  "genres": (#2e6da4, #337ab7),
  "other-names": (#f64740, #a3333d),
  "production-companies": (#f26419, #f6ae2d),
);

@each $key, $value in $profiles {
  .field--name-field-#{$key} {
    @include rounded-terms(nth($value, 1), nth($value, 2));
  }
}

.view {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .views-row {
      max-width: 50%;
      flex-basis: 40%;
    }
  }

  &.view-search-content {
    .view-header {
      margin: 1rem 0;
    }
    .view-content {
      flex-direction: column;
      .views-row {
        max-width: 100%;
        flex-basis: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
}

.view-frontpage {
  .view-empty {
    display: none;
  }
  .feed-icons {
    display: none;
  }
}

article {
  &.search-index {
    .top {
      display: flex;
      .left {
        padding-right: 0.5rem;
        max-width:130px;
        img {
          min-width: 120px;
          margin-right: 0.5rem;
        }
      }
      .right {
        h3 {
          margin: 0 0 0.5rem;
        }
        .field--type-datetime {
          font-size: 0.8rem;
        }
        padding-left: 0.5rem;
      }
    }
    .read-more {
      text-align: right;
      margin: 0.5rem 0;
    }
  }
}