article {
  &.movie {
    &.top-home {
      @extend %card-extend;
    }

    &.full {
      @extend %node-layout-extend;
      .field--name-field-popularity {
        @extend %score-extend;
      }
      .bottom {
        .field--name-field-similar-movies, .field--name-field-actors {
          > .field--items {
            display: flex;
            flex-wrap: wrap;
            .field--item {
              flex-basis:33%;
              max-width: 200px;
              h2 {
                font-size:1.2rem;
              }
            }
          }
        }
      }
    }
  }
}  