@import '../../../node_modules/font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  color: #7810A9;
}
