section {
  article {
    &.js-comment {
      margin: 2em 0;

      .created {
        font-style: italic;
        color:#888888;
        font-size: 0.8rem;
      }

      .body_score {
        display: flex;
        justify-content: space-between;
        > .text {
          padding: 0 1rem 0 0;
        }
        > .score {
          align-self: flex-start;
          flex-basis: 80px;
          padding: 0 0 1rem 0;
          text-align: right;
          @extend %score-extend;
        }
      }
    }
  }
}