@mixin rounded-terms($boder, $background) {
  max-width: 100%;
  .field--item {
    background-color: $background;
    border-color: $boder;
    border-radius: 0.25rem;
    color: #fff;
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    padding: 0.25rem 0.5rem;
  }
}

%card-extend {
  max-width: 100%;
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #eee;
}

%node-layout-extend {
  .top {
    display: flex;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    .left {
      min-width: 40%;
      max-width: 40%;
      padding-right: 0.5rem;
    }
    .right {
      padding-left: 0.5rem;
    }
  }
}

%score-extend {
  .field--item {
    font-size: 3rem;
    font-weight: bold;
    color: #337ab7;
  }
}
