header {
  &.navbar-default {
    border-color: transparent;
    background-color: transparent;
  }
}
.region-navigation {
  .navbar-btn {
    &.logo {
      img {
        height: 34px;
        width: auto;        
      }
    }
  }
}
