nav.social {
  border-radius: 0;
  // margin-left: -15px;
  // margin-right: -15px;
  text-align: right;

  .social-icon {
    &:before {
      content: 'Síguenos en: ';
      display: inline-block;
      font-weight: bold;
      // color: #ffffff;
    }
  }
  a {
    color: #aaa;
    margin: 0.5rem;
    .fa {
      padding: 0 5px;
      &.fa-facebook {
        color: #3b5998;
      }
      &.fa-twitter {
        color: #1dcaff;
      }
      &.fa-google-plus {
        color: #d34836;
      }
      &.fa-youtube {
        color: #ff0000;
      }
    }
    @media screen and (max-width: 992px) {
      span {
        display: none;
      }
    }
  }

  section#block-socialnetwork {
    padding-top: 12px;
    padding-right: 15px;
  }
}
